# -*- coding: utf-8 -*-
# vim: ft=yaml
---
postgres:
  users:
    airflow:
      ensure: present
      password: airflow
      createdb: true
      inherit: true
      createroles: true
      replication: true
  databases:
    airflow:
      owner: airflow
  acls:
    - ['local', 'airflow', 'airflow', 'md5']
    - ['local', 'all', 'all', 'peer']
    - ['host', 'all', 'all', '127.0.0.1/32', 'md5']
    - ['host', 'all', 'all', '::1/128', 'md5']
    - ['local', 'replication', 'all', 'peer']
    - ['host', 'replication', 'all', '127.0.0.1/32', 'md5']
    - ['host', 'replication', 'all', '::1/128', 'md5']

airflow:
  identity:
    airflow:
      user: airflow       # local or ldap username
      group: airflow       # local or ldap groupname
      skip_user_state: false   # false if local user; true if ldap user
  database:
    airflow:
      user: airflow
      pass: airflow
      email: airflow@localhost
  config:
    airflow:
      flask:
        auth_type: AUTH_DB # AUTH_LDAP, etc

        #### Active Directory Example ####
        auth_ldap_server: ldap://ldapserver.new
        auth_ldap_append_domain: example.com

        ## see https://confluence.atlassian.com/kb/how-to-write-ldap-search-filters-792496933.html
        # auth_ldap_search_filter: (&(objectCategory=Person)(sAMAccountName=*)(|(memberOf=cn=grpRole_myteam,OU=ouEngineers_myteam,dc=example,dc=com)(memberOf=cn=grpRole_yourteam,OU=ouEngineers_yourteam,dc=example,dc=com)))
        auth_ldap_search_filter: (memberOf=CN=myGrpRole,OU=myOrg,DC=example,DC=com)

        #### Admin is initially ok for 'admins', but change to Viewer for everyone else
        auth_user_registration_role: Admin
        auth_user_registration: True

      content:
        api: {}
        celery_kubernetes_executor: {}
        celery:
          # https://docs.celeryproject.org/en/v5.0.2/getting-started/brokers
          broker_url: redis://127.0.0.1:6379/0
          result_backend: db+postgresql://airflow:airflow@127.0.0.1/airflow
        cli: {}
        core:
          authentication: True  # gone in v2
          dags_folder: /home/airflow/dags
          plugins_folder: /home/airflow/plugins
          executor: CeleryExecutor
          default_timezone: utc
          load_examples: True
          # https://stackoverflow.com/questions/45455342
          sql_alchemy_conn: postgresql+psycopg2://airflow:airflow@127.0.0.1/airflow
          security: ''
        dask: {}
        elasticsearch: {}
        kerberos: {}
        kubernetes: {}
        ldap: {}   # gone in v2
        logging: {}
        metrics: {}
        secrets: {}
        sentry: {}
        smart_sensor: {}
        smtp: {}
        webserver:
          secret_key: {{ range(1,20000000000) | random }}
      state_colors:
        # https://airflow.apache.org/docs/apache-airflow/stable/howto/customize-state-colors-ui.html
        queued: 'darkgray'
        running: '#01FF70'
        success: '#2ECC40'
        failed: 'firebrick'
        up_for_retry: 'yellow'
        up_for_reschedule: 'turquoise'
        upstream_failed: 'orange'
        skipped: 'darkorchid'
        scheduled: 'tan'
  service:
    airflow:
      enabled:
        - airflow-celery-flower
        - airflow-scheduler
        - airflow-webserver
        - airflow-celery-worker
  pkg:
    airflow:
      version: 2.0.0  # 1.10.14
      extras:
        # https://airflow.apache.org/docs/apache-airflow/stable/installation.html#extra-packages

        # THIS SECTION NEEDS CLEANUP SOMETIME #

        - devel          # Minimum dev tools requirements
        - devel_ci       # Development requirements used in CI
        - devel_azure    # Azure development requirements
        - password       # Password authentication for users
        - apache.atlas      # Apache Atlas to use Data Lineage feature
        - apache.cassandra  # Cassandra related operators & hook
        - apache.druid      # Druid related operators & hooks
        - apache.hdfs       # HDFS hooks and operators
        - apache.hive       # All Hive related operators
        - apache.kylin
        - apache.livy
        - apache.pig
        - apache.pinot         # Pinot DB hook
        - apache.spark
        - apache.sqoop
        - webhdfs           # HDFS hooks and operators
        - amazon               # aws
        - microsoft.azure      # azure
        - microsoft.mssql
        - databricks           # Databricks hooks and operators
        - datadog              # Datadog hooks and sensors
        - dingding
        - discord
        - google               # Google Cloud
        - ftp
        - google_auth          # Google auth backend
        - github_enterprise    # GitHub Enterprise auth backend
        - hashicorp            # Hashicorp Services (Vault)
        - http                 # http hooks and providers
        - jira                 # Jira hooks and operators
        - qubole               # Enable QDS (Qubole Data Service) support
        - salesforce           # Salesforce hook
        - sendgrid             # Send email using sendgrid
        - segment              # Segment hooks and sensors
        - sentry
        - slack                # airflow.providers.slack.operators.slack.SlackAPIOperator
        - vertica              # Vertica hook support as an Airflow backend

        ## Software
        - async                # Async worker classes for Gunicorn
        - celery               # CeleryExecutor
        - dask                 # DaskExecutor
        - docker               # Docker hooks and operators
        - elasticsearch        # Elasticsearch hooks and Log Handler
        - exasol
        - facebook
        - cncf.kubernetes      # Kubernetes Executor and operator
        - mongo                # Mongo hooks and operators
        - mysql                # MySQL operators and hook, support as Airflow backend (mysql 5.6.4+)
        - postgres             # PostgreSQL operators and hook, support as an Airflow backend
        - rabbitmq             # RabbitMQ support as a Celery backend
        - redis                # Redis hooks and sensors
        - samba                # airflow.providers.apache.hive.transfers.hive_to_samba.HiveToSambaOperator
        - statsd               # Needed by StatsD metrics
        - virtualenv
        - cgroups              # Needed To use CgroupTaskRunner
        - crypto               # Cryptography libraries
        - grpc                 # Grpc hooks and operators
        - kerberos             # Kerberos integration
        - ldap                 # LDAP authentication for users
        - imap                 # IMAP hooks and sensors
        - jdbc
        - odbc
        - openfaas
        - opsgenie
        - oracle
        - presto
        - jenkins
        - jira
        - papermill            # Papermill hooks and operators
        - plexus
        - ssh                  # SSH hooks and Operator
        - sftp
        - singularity
        - pagerduty            # PagerDuty ..
        - microsoft.winrm      # WinRM hooks and operators
        - snowflake
        - sqlite
        - telegram
        - yandex
        - zendesk

  linux:
    altpriority: 0   # zero disables alternatives

  # Just for testing purposes
  winner: pillar
  added_in_pillar: pillar_value
