# -*- coding: utf-8 -*-
# vim: ft=yaml
---
postgres:
  users:
    airflow:
      ensure: present
      password: airflow
      createdb: true
      inherit: true
      createroles: true
      replication: true
  databases:
    airflow:
      owner: airflow
  acls:
    - ['local', 'airflow', 'airflow', 'md5']
    - ['local', 'all', 'all', 'peer']
    - ['host', 'all', 'all', '127.0.0.1/32', 'md5']
    - ['host', 'all', 'all', '::1/128', 'md5']
    - ['local', 'replication', 'all', 'peer']
    - ['host', 'replication', 'all', '127.0.0.1/32', 'md5']
    - ['host', 'replication', 'all', '::1/128', 'md5']

airflow:
  config:
    airflow:
      content:
        dags_folder: /home/airflow/airflow/dags
        base_log_folder: /home/airflow/airflow/logs
        executor: LocalExecutor
        sql_alchemy_conn: 'postgresql+psycopg2://airflow:airflow@localhost/airflow'
        default_timezone: system
  service:
    airflow:
      enabled:
        - airflow-flower
        - airflow-scheduler
        - airflow-webserver
        - airflow-worker
  pkg:
    airflow:
      version: 1.10.13
      use_upstream: pip
      uri_a: https://github.com/apache/airflow/releases/download
      uri_c: https://raw.githubusercontent.com/apache/airflow/constraints-VERSION/constraints-PYVER.txt
      path: /home/airflow/.local
      extras:
        - postgres
        - google
  dir:
    airflow:
      config: /home/airflow/airflow
      log: /home/airflow/airflow/logs
  linux:
    altpriority: 0   # zero disables alternatives

  # Just for testing purposes
  winner: pillar
  added_in_pillar: pillar_value
