# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set tplroot = tpldir.split('/')[0] %}
{%- import_yaml tplroot ~ "/defaults.yaml" as default_settings %}
{%- import_yaml tplroot ~ "/osfamilymap.yaml" as osfamilymap %}
{%- import_yaml tplroot ~ "/osmap.yaml" as osmap %}
{%- import_yaml tplroot ~ "/osfingermap.yaml" as osfingermap %}

{%- set _config = salt['config.get'](tplroot, default={}) %}

{%- set defaults = salt['grains.filter_by'](
      default_settings,
      default=tplroot,
       merge=salt['grains.filter_by']( osfamilymap, grain='os_family',
        merge=salt['grains.filter_by']( osmap, grain='os',
          merge=salt['grains.filter_by']( osfingermap, grain='osfinger',
            merge=salt['grains.filter_by'](
              _config,
              default='lookup'
            )
          )
        )
      )
    )
%}

{%- set data = salt['grains.filter_by'](
      {'defaults': defaults},
      default='defaults',
      merge=_config
    )
%}

{%- set p = data.pkg.airflow %}
{%- set pyver = '%s.%s'|format(grains.pythonversion[0], grains.pythonversion[1]) %}
{%- set url = p.uri_c|replace('VERSION', p.version)|replace('PYVER', pyver) %}
{%- do data.pkg.airflow.update({'constraint_file': url}) %}

{%- if p.version.split('.')[0]|int == 1 %}
    {% do data.config.airflow.update({ 'initcmd': 'initdb'}) %}
{%- endif %}

{%- if grains.kernel|lower == 'linux' and p.use_upstream|lower == 'archive' %}
    {%- set path = '%s/%s-%s/bin/'|format(data.dir.airflow.base, p.name, p.version) %}
    {%- do data.config.airflow.update({ 'path': path }) %}

    {%- set url = '%s/%s/%s-%s-bin.%s'|format(p.uri_a, p.version, p.name, p.version, p.suffix) %}
    {%- do data.pkg.airflow.archive.update({'name': path, 'source': url, 'source_hash': url ~ '.sha512'}) %}
{%- endif %}

{%- set airflow = data %}
